:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --card-background: #fff;
  --card-text-color-main: #34495e;
  --body-text-color: #505050;
  --card-text-color-secondary: #747474;
  --card-text-color-tertiary: #bababa;
}

:root.dark {
  --card-background: #191d24;
  --card-text-color-main: rgba(255, 255, 255, 0.9);
  --body-text-color: rgba(255, 255, 255, 0.7);
  --card-text-color-secondary: rgba(255, 255, 255, 0.7);
  --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
}


html, body, #app {
  margin: 0;
  padding: 0;
}

html {
  background: #f5f5fa;
}

html.dark {
  background: transparent;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.layout-search .el-input__wrapper {
  box-shadow: none !important;
}

.layout-search input::-webkit-input-placeholder {
  color: #7d7d7d;
}

.layout-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #7d7d7d;
}

.layout-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #7d7d7d;
}

.layout-search input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7d7d7d;
}
